/* NAVBAR */

.navbar {
    background-color: rgb(48, 48, 48);
}
.nav-link {
    color: white;
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.nav-link-active:hover {
    color: white;
}

a {
    color: white;
    font-family: Oleo Script, cursive;
}

a:hover {
    color: rgb(123, 108, 99);
    border-bottom: 1px solid;
}

a:active {
    color: rgb(123, 108, 99);
    border-bottom: 1px solid;
    border-wi
}

.navbar-brand {
    font-size: 2.25rem;
}

/* BODY */

h6, h1 {
    text-transform: uppercase;
    color: white;
}

h6 {
    font-size: 12px;
    font-weight: 200;
}

h1 {
    font-weight: 300;
}

.greyText {
    color: rgb(123, 108, 99);
}