/* NAVBAR */

.navbar {
    background-color: rgb(48, 48, 48);
}

.navbar-brand {
    font-size: 2.25rem;
    color: rgb(123, 108, 99);
}

.nav-link {
    color: white;
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    position: relative;
}

.nav-link:active {
    text-decoration: underline;
}

.nav-link-active:hover {
    color: white;
    color: rgb(123, 108, 99);
    position: relative;
}

a {
    color: white;
    font-family: Oleo Script, cursive;
}

a:hover {
    color: rgb(123, 108, 99);
    text-decoration: underline;
}

/* BODY */

h6, h1 {
    text-transform: uppercase;
    color: white;
}

h6 {
    font-size: 12px;
    font-weight: 200;
}

h1 {
    font-weight: 300;
}

.greyText {
    color: rgb(123, 108, 99);
}

/* BODY */

.home {
    background: url('../img/bikehundles.jpg');
    background-color: rgba(48, 48, 48, 100%);
    position: relative;
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .85;
    position: relative;
}

.btn {
    color: white;
    background-color:rgba(48, 48, 48, 90%);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

/* SERVICES */

.row-services {
    text-transform: uppercase;
    color: rgb(123, 108, 99);
    font-size: 18px;
    font-weight: bold;
}

.container {
    font-family: 'Raleway', sans-serif;
}

.row-text {
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
}

h4 {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bolder;
}

p {
    color: rgb(123, 108, 99);
    font-size: 12px;
}

.fa {
    color: rgb(123, 108, 99);
}

/* OUR BLOG */

.container-fluid {
    padding-bottom: 100px;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(123, 108, 99);
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    width: 10%;
    border-bottom: 10px;
    height: 5px;
    bottom: 10px;
    left: 0;
    border-bottom: 3px solid rgb(123, 108, 99);
    right: 0;
    margin: 0 auto;
}

.text {
    font-size: 14px;
    padding: 10px;
}


/* CONTACT */

h3 {
    color: rgb(123, 108, 99);
    text-transform: uppercase;
    font-weight: bolder;
}

label {
    color: rgb(123, 108, 99);
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
}

.form-control {
    background: rgb(245, 245, 245);
    border: none;
}

.form-check {
    border-top: solid;
}

.form-group {
    border-top: solid;
    border-bottom: solid 1.5px rgb(162, 162, 162);
}

.btn1 {
    border: solid rgb(123, 108, 99);
}


/* FOOTER */

.site-footer {
    background: rgb(48, 48, 48);
}

.row-footer {
    background: black;
}

h5 {
    text-transform: uppercase;
    color: white;
}

.title1 {
    font-family: Oleo Script, cursive;
    font-size: 2.25rem;
    color: rgb(123, 108, 99);
}
