/* NAVBAR */

.navbar {
    background-color: rgb(48, 48, 48);
}

.navbar-brand {
    font-size: 2.25rem;
}

.nav-link {
    color: white;
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    position: relative;
}

.nav-link-active:hover {
    color: white;
    color: rgb(123, 108, 99);
    position: relative;
}

a {
    color: white;
    font-family: Oleo Script, cursive;
}

a:hover {
    color: rgb(123, 108, 99);
    text-decoration: underline;
}

/* BODY */

h6, h1 {
    text-transform: uppercase;
    color: white;
}

h6 {
    font-size: 12px;
    font-weight: 200;
}

h1 {
    font-weight: 300;

}

.greyText {
    color: rgb(123, 108, 99);
    font-weight: 300;
    font-size: 2.5rem;
}

/* BODY */

.home {
    background: url('img/bikehundles.jpg');
    background-color: rgba(48, 48, 48, 1);
    position: relative;
}

.color-overlay {
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: .85;
    position: absolute;
}

.btn {
    color: white;
    background-color: rgba(48, 48, 48, 90%);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    width: 40%;
}

.btn, .btn i {
    transition: none;
}

.btn:hover, .btn:hover i {
    color: black;
    background-color: white;
}

/* SERVICES */

.row-services {
    text-transform: uppercase;
    color: rgb(123, 108, 99);
    font-size: 18px;
    font-weight: bold;
}

.container {
    font-family: 'Raleway', sans-serif;
}

.row-text {
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
    margin: 0 auto;
    max-width: 600px;
    line-height: 20px;
}

h4 {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bolder;
}

p {
    color: rgb(123, 108, 99);
    font-size: 12px;
    line-height: 20px;
}

.services .fa {
    color: rgb(123, 108, 99);
}

/* OUR BLOG */

.row {
    margin-left: 5%;
    margin-right: 5%;
}

.container-fluid {
    padding-bottom: 30px;
}

.heading {
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(123, 108, 99);
    font-weight: bolder;
}

.heading::after {
    content: "";
    position: absolute;
    width: 5%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 5px solid rgb(123, 108, 99);
    right: 0;
    margin: 0 auto;
}

.panel1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.panel {
    font-family: 'Raleway', sans-serif;
    color: rgb(123, 108, 99);
    font-size: smaller;
    line-height: 2;
}

span {
    font-size: 18px;
    font-weight: bolder;
    color: black;
}

.col {
    position: relative;
    width: 100%;
    height: 50%;
}

/* CONTACT */

h3 {
    color: rgb(123, 108, 99);
    text-transform: uppercase;
    font-weight: bolder;
}

label {
    color: rgb(123, 108, 99);
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
}

.form-control {
    background: none;
    border: none;
    border-radius: 0px;
    border-top: 2px solid black;
    padding: 10px 0px 20px 10px;
}

.submit {
    border-top: 1px solid black;
}

.btn1 {
    border: 2px solid;
    background: none;
}

/* FOOTER */

footer {
    background: rgb(40, 40, 40);
}

.col-2 {
    color: white;
}

.footer {
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    color: rgb(162, 162, 162);

}

.panel2 {
    font-family: Oleo Script, cursive;
    font-size: 25px;
}

.row-bottom {
    background: rgb(33, 33, 33);
    width: 100%;
    height: 100%;
}

.panel3 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    color: rgb(162, 162, 162);
}

p {
    font-size: 10px;
    text-transform: uppercase;
}

span2 {
    font-size: 7px;
}

.Footer {
    background: rgb(33, 33, 33);
    width: 100%;
    height: 100%;
}

.contactFooter {
    font-size: .7rem;
    font-family: 'Raleway', sans-serif;
    color: rgb(123, 108, 99);
}